<template>
  <div id="app">
    <empolyee-table :employees="employees"/>
    
    <empolyee-form @add="addEmployee" />
  </div>
</template>

<script>

import EmpolyeeForm from './components/EmpolyeeForm.vue'
import EmpolyeeTable from './components/EmpolyeeTable'

export default {
  name: 'App',
  components: {
    EmpolyeeTable,
    EmpolyeeForm
    
  },
  data() {
  return {
    employees: [
      {
        id: 1,
        name: 'Mr Radfar',
        email: 'AlirezaNeno@gmail.com',
      },
      {
        id: 2,
        name: 'Mrs Sara',
        email: 'Sara@gmail.com',
      },
      {
        id: 3,
        name: 'Mr Farsizade',
        email: 'Farsizade@gmail.com',
      },
    ],
  }
},
methods:{
  addEmployee(employee) {
    console.log('app in add');
  const lastId =
    this.employees.length > 0
      ? this.employees[this.employees.length - 1].id
      : 0;
  const id = lastId + 1;
  const newEmployee = { ...employee, id };
  this.employees = [...this.employees, newEmployee];
}
}
}
</script>

<style lang="scss">

</style>
